config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml

**/.DS_Store

# ignore pry history
.pry_history

# Ignore bundler config
/.bundle

# Ignore all log files and temp files.
log/
tmp/*
doc/
coverage/

# Ignore the db files
db/*.sqlite3

workflow_service.log
