<style>
.glyphicon-refresh-animate {
    -animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

</style>

<script>
$().ready(function(){
	$("#hiddenspan").hide();
	$("#crawl-navbar").addClass("active");

});

var q = $.ajaxMultiQueue(1); 

<% @crawl_list.each do |crawl_item|%>
$("#register_status_<%=crawl_item.id%>").ready(function(){
	register_item(<%= crawl_item.id %>,'crawl');
});
<%end%>

</script>


<%= render partial: "shared/register", locals: {object_list: @crawl_list} %>
<div align="right"><a href="/crawl_registrar/index">Return to admin page</div>
